<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" maximum-scale=1.0, user-scalable=0”>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet" />
    
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>

    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/jquery-peeper.css"/>
    <script src="/static/js/jquery-peeper.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/3.0.1/js/bootstrap-submenu.js"></script>
    
    <link href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/css/bootstrap-multiselect.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/css/index.css"/>

    <script src="/static/js/lodash.js"></script>
    <script src="/static/js/HTTPreq.js"></script>
    <script src="/static/js/supportFnc.js"></script>
    <script src="/static/js/objectExtend.js"></script>

    <style>
        [role=button] {
            cursor: pointer;
        }
    </style>
</head>
    <body>
        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
        <script>
            if(typeof baseapp == undefined) {
                const baseapp = Vue.createApp({
                    delimiters: ['((', '))'],
                    data() {
                        return {}
                    },
                    methods: {},
                    mounted(){},
                    created(){},
                    updated(){},
                    beforeUpdate(){},
                });
            }
        </script>
        <script src="/static/js/vDirective.js"></script>
        <script>
            const vm = baseapp.mount("#vue_app");
            
            new HTTPreq("/v_search/get_logo/").geta().then((rcv)=>{
                [...document.getElementsByClassName("logo")].forEach((e)=>{e.style.backgroundImage = `url(${rcv.result})`});
                [...document.getElementsByClassName("logo1")].forEach((e)=>{e.style.backgroundImage = `url(${rcv.result})`});
            });
        </script>
    </body>
</html>