{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title></title>
    <link rel="icon" type="image/ico" href="/static/favicon.ico">
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <!-- sunnylogin -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-peeper.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-peeper.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#password1").peeper({
                mask: false,
                showPasswordCss: 'fa fa-eye',
                showCopyBtn: false
            });
        });
    </script>
    <style>
        body {
            background: url(/static/images/bg.jpg);
        }
    </style>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div id="vue_app" class="cont" style="min-height: 100vh;">
        <div class="wrap">
            <form class="form row">
                <div class="logo text-center"><img src="/static/images/logo.png"></div>
                <h5 class="text-center">Feature name</h5>
                <div class="form-group">
                    <div class="col">
                        <input class="form-control text-box single-line" type="text" placeholder="請輸入帳號" v-model="loginData.login" minlength="6">
                    </div>
                </div>
                <div class="form-group mb-0">
                    <div class="col">
                        <input id="password1" type="password" class="form-control" :class="(focus.password && loginData.password.length<6)?'alert-danger':''" name="password" :placeholder="(focus.password && loginData.password.length<6)?'密碼長度最少6字元':'請輸入密碼'" v-model="loginData.password" @blur="focus.password=1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col float-end">
                        <input id="remember" type="checkbox" v-model="loginData.remember">
                        <label for="remember" class="mx-2">記住我</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">
                        <button type="button" class="btn btn-primary" @click="login()">登入</button>
                    </div>
                </div>

                <p class="text-secondary text-center"><a href="#">忘記密碼</a></p>
            </form>
        </div>
    </div>
    <footer class="col-12 text-md-center footer">
        <p>COPYRIGHT © 2022元宏創新服務股份有限公司</p>
    </footer>
    {% endblock %}
    {% block script %}
    <script>
        const baseapp = Vue.createApp({
            delimiters: ['((', '))'],
            data() {
                return {
                    loginData: {
                        login: "",
                        password: "",
                        remember: false
                    },
                    focus:{
                        login: 0,
                        password: 0,
                    }
                }
            },
            methods: {
                login(){
                    if(this.loginData.password.length < 6){
                        Swal.fire("密碼長度過短，最少6字元");
                        return;
                    }
                    new HTTPreq("/v_search/login/", "fd").setHeaders({'Authorization': 'token a021bd4735ebec44a3564cea9390d91aadfdabff'}).posta(this.loginData).then(rcv => {
                        var res = supfnc.toJSON(rcv.result);
                        if(res.status == "OK"){
                            window.location.href = "/v_search/land_dev/";
                        }
                    });
                }
            },
            mounted(){},
            created(){},
            updated(){},
            beforeUpdate(){},
        });

        // test
        // new HTTPreq("/v_search/get_plan_name/", "fd").setHeaders({'Authorization': 'token a021bd4735ebec44a3564cea9390d91aadfdabff'}).posta({ area: "A_01" }).then((rcv) => {
        //     var res = supfnc.toJSON(rcv.result);
        //     console.log(res);
        // });
    </script>
    {% endblock %}
</body>

</html>