{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title></title>
    <link rel="icon" type="image/ico" href="/static/favicon.ico">
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <!-- sunnylogin -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/css/bootstrap-multiselect.min.css"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-peeper.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/3.0.1/js/bootstrap-submenu.js"></script>
    <script src="/static/js/jquery-peeper.js"></script>
    <script>
        $(function () {
            $("#password1").peeper({
                mask: false,
                showPasswordCss: 'fa fa-eye',
                showCopyBtn: false
            });
        });
    </script>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div id="vue_app" class="cont">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand logo1" href="#"></a>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item bi"><a href="#">土地開發</a></li>
                    </ol>
                </nav>
            </div>
            <form class="d-flex"><a href="#" type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">uswe name</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a href="/accounts/logout/" id="buttonForLogout" class="btn dropdown-item">
                            <img src="/static/images/返回.png" style="width: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登出</a>
                    </li>
                </ul>
            </form>
        </nav>
        <div class="container wrap">
            <nav aria-label="breadcrumb" class="bb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">土地開發</li>
                </ol>
            </nav>
            <div class="row r1">
                <div class="row">
                    <label class="col-form-label col col-width" for="edit-text-name-id">搜尋</label>
                    <div class="col-sm-auto">
                        <select class="form-control custom-select col-sm-12 w-10" v-model="searchForm.city">
                            <option :value="null" selected>縣市</option>
                            <option :value="key" v-for="(value, key) in cityList"> ((value)) </option>
                        </select>
                    </div>
                    <div class="col-sm-auto">
                        <select class="form-control custom-select col-sm-12 w-10" v-model="searchForm.area">
                            <option :value="null" selected>行政區</option>
                            <option :value="key" v-for="(value, key) in areaList"> ((value)) </option>
                        </select>
                    </div>
                    <div class="col-sm-auto">
                        <select class="form-control custom-select col-sm-12 w-10" v-model="searchForm.section">
                            <option :value="null" selected>段小段</option>
                            <option :value="key" v-for="(value, key) in sectionList"> ((value)) </option>
                        </select>
                    </div>
                    <div class="col-sm-auto">
                        <select class="form-control custom-select col-sm-12 w-10" v-model="searchForm.plan_name">
                            <option :value="null" selected>計劃案</option>
                            <option :value="key" v-for="(value, key) in planList"> ((value)) </option>
                        </select>
                    </div>
                    <div class="col-sm-auto">

                        <div class="dropdown">
                            <button class="btn dropdown-toggle  custom-select left" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                地號
                            </button>
                            <div class="dropdown-menu">
                                <form class="px-4 py-3 row pp">
                                    <div class="form-group col-sm-6">
                                        <select class="form-control custom-select col-sm-12 w-10">
                                            <option value="DF" selected>單筆</option>
                                            <option value="LG">單筆</option>
                                            <option value="SM">單筆</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6 pp1">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck" v-model="searchForm.land_number_include">
                                        <label class="form-check-label" for="dropdownCheck">包含失效資料</label>
                                    </div>
                                    <div class="form-check col-sm-12 pp2">
                                        <input type="password" class="form-control" placeholder="地號" v-model="searchForm.land_number">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-auto">
                        <!-- @@@@ -->
                        <div class="dropdown">
                            <button class="btn dropdown-toggle custom-select on on1 left" type="button"
                                data-toggle="dropdown" data-submenu>
                                使用分區
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown dropright dropdown-submenu">
                                    <button class="dropdown-item" type="button">不拘</button>
                                </div>
                                <div class="dropdown dropright dropdown-submenu">
                                    <button class="dropdown-item dropdown-toggle" type="button">都內</button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button"><input type="checkbox"
                                                class="form-check-input" id="exampleCheck1">住宅區</button>
                                        <button class="dropdown-item" type="button"><input type="checkbox"
                                                class="form-check-input" id="exampleCheck1">工業區</button>
                                        <button class="dropdown-item" type="button"><input type="checkbox"
                                                class="form-check-input" id="exampleCheck1">商業區</button>
                                        <button class="dropdown-item" type="button"><input type="checkbox"
                                                class="form-check-input" id="exampleCheck1">農業區</button>
                                        <button class="dropdown-item" type="button"><input type="checkbox"
                                                class="form-check-input" id="exampleCheck1">風景區</button>
                                        <button class="dropdown-item" type="button"><input type="checkbox"
                                                class="form-check-input" id="exampleCheck1">別墅區</button>
                                        <button class="dropdown-item" type="button"><input type="checkbox"
                                                class="form-check-input" id="exampleCheck1">林業區</button>
                                        <button class="dropdown-item" type="button"><input type="checkbox"
                                                class="form-check-input" id="exampleCheck1">其他依字母排序</button>
                                    </div>
                                </div>
                                <div class="dropdown dropright dropdown-submenu">
                                    <button class="dropdown-item dropdown-toggle" type="button">都外</button>
                                    <div class="dropdown-menu">
                                        <div class="dropdown dropright dropdown-submenu">
                                            <button class="dropdown-item dropdown-toggle" type="button">都外</button>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" type="button"><input type="checkbox"
                                                        class="form-check-input" id="exampleCheck1">依字母排序</button>
                                            </div>
                                        </div>
                                        <div class="dropdown dropright dropdown-submenu">
                                            <button class="dropdown-item dropdown-toggle" type="button">都內</button>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" type="button"><input type="checkbox"
                                                        class="form-check-input" id="exampleCheck1">依字母排序</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-auto">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle custom-select on1 left" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                土地面積
                            </button>
                            <div class="dropdown-menu">
                                <form class="p3 pp row">
                                    <div class="col-sm-6">
                                        <select class="form-control custom-select col-sm-12 w-10" v-model="searchForm.land_area_type">
                                            <option :value="0">總面積</option>
                                        </select>
                                    </div>
                                    <div class="row v4">
                                        <input type="" class="form-control col-sm-3 v2" placeholder="0" v-model="searchForm.land_area_lower">
                                        <label class="col-form-label la1" for="edit-text-name-id">坪-</label>
                                        <input type="" class="form-control col-sm-3 v2" placeholder="0" v-model="searchForm.land_area_upper">
                                        <label class="col-form-label la1" for="edit-text-name-id">坪</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary btn1" data-toggle="collapse" href="#collapseExample"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            進階
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" @click="serverSearch()">搜尋</button>
                    </div>
                </div>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="row row-cols-auto row1">
                            <label class="col-form-label col col-width" for="edit-text-name-id">使用狀況</label>
                            <div class="col">
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#bs1').multiselect({
                                            enableHTML: true,
                                            nonSelectedText: '權屬',
                                            buttonWidth: '150px',
                                            numberDisplayed: 6
                                        });
                                    });
                                </script>
                                <select id="bs1" multiple="multiple" class="form-select  custom-select col-sm-12 w-10" v-model="searchForm.ownership">
                                    <option value="">自然人</option>
                                    <option value="">私法人</option>
                                    <option value="">公法人</option>
                                    <option value="">非公有</option>
                                    <option value="">部分公有</option>
                                </select>
                            </div>
                            <div class="col">
                                <select id="bs2" class="f1 form-select custom-select col-sm-12 w-10" v-model="searchForm.owned">
                                    <option :value="0">公有共有</option>
                                    <option :value="1">不拘</option>
                                    <option :value="2">排除</option>
                                    <option :value="3">只有</option>
                                </select>
                            </div>
                            <div class="col">
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#enable').multiselect({
                                            nonSelectedText: '登記原因',
                                            buttonWidth: '150px',
                                            numberDisplayed: 6
                                        });
                                    });
                                </script>
                                <select id="enable" multiple="multiple" class="form-select form-control col-sm-12 w-10" v-model="searchForm.register_reason">
                                    <option value="">不拘</option>
                                    <option value="">繼承</option>
                                    <option value="">贈與</option>
                                    <option value="">買賣</option>
                                </select>
                            </div>

                            <div class="col">
                                <div class="dropdown on1">
                                    <button class="btn dropdown-toggle custom-select left" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        持有年限
                                    </button>
                                    <div class="dropdown-menu">
                                        <form class="p3 pp row">
                                            <div class="col-sm-6">
                                                <select class="form-control custom-select col-sm-12 w-10" v-model="searchForm.holding_period">
                                                    <option value="">半年內</option>
                                                </select>
                                            </div>
                                            <div class="row v4">
                                                <input type="" class="form-control col-sm-3 v2" placeholder="0">
                                                <label class="col-form-label la1" for="edit-text-name-id">年-</label>
                                                <input type="" class="form-control col-sm-3 v2" placeholder="0">
                                                <label class="col-form-label la1" for="edit-text-name-id">年</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col on1">
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#bs3').multiselect({
                                            nonSelectedText: '國土區分',
                                            numberDisplayed: 6
                                        });
                                    });
                                </script>
                                <select id="bs3" multiple="multiple" class="form-select form-control col" v-model="searchForm.territory">
                                    <option value="">不拘</option>
                                    <option value="">國一</option>
                                    <option value="">國二</option>
                                    <option value="">國三</option>
                                </select>
                            </div>
                        </div>

                        <div class="row row-cols-auto row1">
                            <label class="col-form-label col col-width" for="edit-text-name-id">面積價值</label>
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle  custom-select left" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        公告現值
                                    </button>
                                    <div class="dropdown-menu">
                                        <form class="p3 pp">
                                            <div class="row pp2">
                                                <input type="" class="form-control col-sm-2 v2" placeholder="0" v-model="searchForm.present_value_lower">
                                                <label class="col-form-label la1" for="edit-text-name-id">萬-</label>
                                                <input type="" class="form-control col-sm-2 v2" placeholder="0" v-model="searchForm.present_value_upper">
                                                <label class="col-form-label la1" for="edit-text-name-id">萬</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle  custom-select left" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        個人持分總值
                                    </button>
                                    <div class="dropdown-menu">
                                        <form class="p3 pp">
                                            <div class="pp2 row">
                                                <input type="" class="form-control col-sm-2" placeholder="0" v-model="searchForm.private_value_lower">
                                                <label class="col-form-label la1" for="edit-text-name-id">萬-</label>
                                                <input type="" class="form-control col-sm-2" placeholder="0" v-model="searchForm.private_value_upper">
                                                <label class="col-form-label la1" for="edit-text-name-id">萬</label>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle  custom-select left" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        個人持分總面積
                                    </button>
                                    <div class="dropdown-menu">
                                        <form class="p3 pp">
                                            <div class="pp2 row">
                                                <input type="" class="form-control col-sm-2" placeholder="0" v-model="searchForm.private_area_lower">
                                                <label class="col-form-label la1" for="edit-text-name-id">坪-</label>
                                                <input type="" class="form-control col-sm-2" placeholder="0" v-model="searchForm.private_area_upper">
                                                <label class="col-form-label la1" for="edit-text-name-id">坪</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-cols-auto row1">
                            <label class="col-form-label col col-width" for="edit-text-name-id">所有權人</label>
                            <div class="col">
                                <script type="text/javascript">
                                    $('#example-single').multiselect();
                                </script>
                                <select id="example-single" class="form-select custom-select col-sm-12 w-10" v-model="searchForm.owner_age">
                                    <option :value="0">年齡區間</option>
                                    <option :value="1">民國前</option>
                                    <option :value="2">民國20年以前</option>
                                    <option :value="3">民國21~30年以前</option>
                                </select>
                            </div>
                            <div class="col">
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#example-getting-started').multiselect({
                                            enableHTML: true,
                                            nonSelectedText: '國籍',
                                        });
                                    });
                                </script>
                                <select id="example-getting-started" multiple="multiple"
                                    class="form-select custom-select col-sm-12 w-10" v-model="searchForm.owner_country">
                                    <option value="LG">不拘</option>
                                    <option value="SM">台灣</option>
                                    <option value="SM">越南</option>
                                    <option value="SM">印尼</option>
                                    <option value="SM">中國</option>
                                </select>
                            </div>

                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle  custom-select left" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        所有權人數
                                    </button>
                                    <div class="dropdown-menu">
                                        <form class="p3 pp">
                                            <div class="pp2 row">
                                                <input type="" class="form-control col-sm-2" placeholder="0" v-model="searchForm.owner_num_lower">
                                                <label class="col-form-label la1" for="edit-text-name-id">人-</label>
                                                <input type="" class="form-control col-sm-2" placeholder="0" v-model="searchForm.owner_num_upper">
                                                <label class="col-form-label la1" for="edit-text-name-id">人</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-cols-auto row1">
                            <label class="col-form-label col col-width" for="edit-text-name-id">其他設定</label>
                            <div class="col">
                                <select id="" class="form-select custom-select col-sm-12 w-10" v-model="searchForm.other_remark">
                                    <option :value="0">他項標記</option>
                                    <option :value="1">他項標記</option>
                                    <option :value="2">他項標記</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select custom-select col-sm-12 w-10" v-model="searchForm.restrict_register">
                                    <option :value="0">限制登記</option>
                                    <option :value="1">限制登記</option>
                                    <option :value="2">限制登記</option>
                                </select>
                            </div>
                            <div class="col">
                                <!-- @@@@ -->
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle  custom-select left" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        lbkey
                                    </button>
                                    <div class="dropdown-menu">
                                        <form class="p3 pp row">
                                            <div class="col-sm-6">
                                                <select
                                                    class="form-control custom-select col-sm-12 w-10">
                                                    <option value="DF" selected>區間</option>
                                                    <option value="LG">區間</option>
                                                    <option value="SM">區間</option>
                                                </select>
                                            </div>
                                            <div class="row v4">
                                                <input type="" class="form-control col-sm-5 v2"
                                                    placeholder="起">
                                                <label class="col-form-label la1" for="edit-text-name-id">～</label>
                                                <input type="" class="form-control col-sm-5 v2"
                                                    placeholder="迄">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bg1">
                <div class="col-sm-7">
                    <h5>Feature slogon</h5>
                    <p>Feature slogonFeature slogonFeature slogonFeature slogonFeature slogonFeature slogonFeature
                        slogonFeature slogonFeature slogonFeature slogon</p>
                </div>
                <div class="col-sm-5">
                    <img src="/static/images/slogan.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="bg2">Stap1</div>
                </div>
                <div class="col-sm-4">
                    <div class="bg2">Stap2</div>
                </div>
                <div class="col-sm-4">
                    <div class="bg2">Stap3</div>
                </div>
            </div>
        </div>

    </div>
    <footer class="col-12 text-md-center footer">
        <p>COPYRIGHT © 2022元宏創新服務股份有限公司</p>
    </footer>
    {% endblock %}
    {% block script %}
    <script>
        $(function () {
            $("[data-submenu]").submenupicker();
            $(".dropdown-toggle").on("click", function () {
                $(this).toggleClass("on");
            });

            $(".dropdown").on("hide.bs.dropdown", function () {
                $(".dropdown-toggle").removeClass("on");
            });

            $(document).on("keypress", "input", function (e) {
                var code = e.keyCode || e.which;
                if (code == 27) {
                    $(".dropdown-toggle").removeClass("on");
                }
            });
        });
    </script>
    <script>
        const baseapp = Vue.createApp({
            delimiters: ['((', '))'],
            data() {
                return {
                    cityList: { "A": "臺北市", "C": "基隆市", "F": "新北市", "H": "桃園市", "O": "新竹市", "J": "新竹縣", "B": "臺中市", "K": "苗栗縣", "N": "彰化縣", "M": "南投縣", "P": "雲林縣", "D": "臺南市", "E": "高雄市", "I": "嘉義市", "Q": "嘉義縣", "T": "屏東縣", "G": "宜蘭縣", "U": "花蓮縣", "V": "臺東縣",/* "X": "澎湖縣", "W": "金門縣", "Z": "連江縣" */},
                    areaList: {},
                    sectionList:{},
                    planList: {},

                    searchForm: {
                        city: null,
                        area: null,
                        section: null,
                        plan_name: null,
                        land_number_include: 0,
                        land_number: "",
                        use_zone: "",
                        land_area_type: "",
                        land_area_lower: "",
                        land_area_upper: "",

                        // use_situation
                        ownership: "",
                        owned: 0,
                        register_reason: "",
                        holding_period: "",
                        territory: "",

                        // area value
                        present_value_lower: 0,
                        present_value_upper: 0,
                        private_value_lower: 0,
                        private_value_upper: 0,
                        private_area_lower: 0,
                        private_area_upper: 0,

                        // owner
                        owner_age: 0,
                        owner_country: "",
                        owner_num_lower: "",
                        owner_num_upper: "",

                        // other
                        other_remark: 0,
                        restrict_register: 0,
                        lbkey: "",
                    }
                }
            },
            methods: {
                getArea(city){
                    var T = this;
                    if(this.areaList[city]) return;
                    new HTTPreq("/home/get_name/", "fd").posta({ type: "area", value: city }).then((rcv) => {
                        var res = supfnc.toJSON(rcv.result);
                        T.areaList[city] = res;
                    });
                },
                getSection(area){
                    var T = this;
                    if(this.sectionList[area] || this.planList[area]) return;
                    new HTTPreq("/home/get_name/", "fd").posta(this.searchForm).then((rcv) => {
                        var res = supfnc.toJSON(rcv.result);
                        T.sectionList[area] = {};
                        T.planList[area] = [];
                        for(var i in res.plan_name){
                            if(res.plan_name[i]){
                                T.planList[area].push(res.plan_name[i]);
                            }
                        }
                        for(var i in res.region){
                            if(res.region[i]) {
                                res.region[i] = res.region[i].split("_");
                                T.sectionList[area + "_" + res.region[i][0]] = res.region[i][1];
                            }
                        }
                    });
                },
                serverSearch(){
                    new HTTPreq("", "fd").posta(this.searchForm).then((rcv) => {
                        var res = supfnc.toJSON(rcv.result);
                    });
                }
            },
            mounted(){},
            created(){},
            updated(){},
            beforeUpdate(){},
        });
    </script>
    {% endblock %}
</body>

</html>