{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div id="vue_app" class="cont d-flex flex-column" style="min-height: 100vh;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand logo1" href="/v_search/land_dev/"></a>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item bi"><a href="#">VVIP</a></li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex">
                <a href="#" type="button" class="btn dropdown-toggle w-150" data-bs-toggle="dropdown" data-bs-target="usermenu" aria-expanded="false">
                    {% if user.first_name == '' %}
                    {{ user.username }}
                    {% else %}
                    {{ user.first_name }}
                    {% endif %}
                    <svg  class="svg5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M4.427 7.427l3.396 3.396a.25.25 0 00.354 0l3.396-3.396A.25.25 0 0011.396 7H4.604a.25.25 0 00-.177.427z"></path></svg>
                </a>
                <ul id="usermenu" class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a href="/v_search/member_pw/" id="buttonForLogout" class="btn dropdown-item">
                            <img src="/static/images/返回.png" style="width: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;變更密碼
                        </a>
                    </li>
                    <li>
                        <a href="/v_search/account_edit/" id="buttonForLogout" class="btn dropdown-item">
                            <img src="/static/images/返回.png" style="width: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帳號管理
                        </a>
                    </li>
                    <li>
                        <a href="#" id="buttonForLogout" class="btn dropdown-item" @click="logout()">
                            <img src="/static/images/返回.png" style="width: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登出
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container wrap p-4">
            <nav aria-label="breadcrumb" class="bb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/v_search/land_dev/">首頁</a></li>
                    <li class="breadcrumb-item active"><a href="/v_search/member_aclist/">帳號管理</a></li>
                    <li class="breadcrumb-item active">編輯帳號</li>
                </ol>
            </nav>
            <div class="my-4 d-inline-block">
                <h2>編輯帳號</h2>
                <div>
                    <div class="">
                        <div class="d-flex">
                            <div class="px-2">
                                <h5>帳號</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="帳號" v-model="dataForm.account">
                                </div>
                            </div>
                            <div class="px-2">
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="d-flex">
                            <div class="px-2">
                                <h5>密碼</h5>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="密碼" v-password v-model="dataForm.password">
                                </div>
                            </div>
                            <div class="px-2">
                                <h5>確認密碼</h5>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="確認密碼" v-password v-model="dataForm.password2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="">
                        <div class="d-flex">
                            <div class="px-2">
                                <h5>名稱</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="密碼" v-model="dataForm.name">
                                </div>
                            </div>
                            <div class="px-2">
                                <h5>電話</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="確認密碼" v-model="dataForm.phone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <button class="btn btn-primary" @click="editAccount()">確認</button>
                    <button class="btn btn-danger float-end" @click="delAccount()">刪除帳號</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    <script>
        const baseapp = Vue.createApp({
            delimiters: ['((', '))'],
            data() {
                return {
                    dataForm:{
                        account: "",
                        password: "",
                        password2: "",
                        name: "",
                        phone: "",
                    }
                }
            },
            methods: {
                logout(){
                    new HTTPreq("/v_search/logout/", "fd").geta().then(rcv => {
                        var res = supfnc.toJSON(rcv.result);
                        if(res.status == "OK"){
                            window.location.href = "/";
                        }
                    });
                },
                getAccountData(auto = true){
                    if(!this.dataForm.account.length) {
                        Swal.fire("請輸入帳號");
                        return;
                    }
                    var T = this; // @@@@
                    new HTTPreq("/users/get_user_info/", "fd").posta({account: this.dataForm.account}).then(rcv => {
                        var res = supfnc.toJSON(rcv.result);
                        if(res.status == "OK"){
                            for(var i in res.data) T.dataForm[i] = res.data[i];
                        }
                        if(!auto) Swal.fire(res.msg);
                    });
                },
                editAccount(){
                    var T = this;
                    this.dataForm.delete = false;
                    new HTTPreq("/users/modify_user/", "fd").posta(this.dataForm).then(rcv => {
                        var res = supfnc.toJSON(rcv.result);
                        Swal.fire(res.msg);
                    });
                },
                delAccount(){
                    var T = this;
                    Swal.fire({
                        icon: "warning",
                        title: "確認刪除？",
                        text: "此操作無法復原",
                        showConfirmButton: false,
                        showCancelButton: true,
                        cancelButtonText: "取消",
                        showDenyButton: true,
                        denyButtonText: "刪除",
                    }).then((r)=>{
                        if(r.isDenied){
                            // T.dataForm.delete = true;
                            new HTTPreq("/users/modify_user/", "fd").posta(T.dataForm).then(rcv => {
                                var res = supfnc.toJSON(rcv.result);
                                Swal.fire(res.msg);
                            });
                        }
                    });
                },
            },
            mounted(){
                this.dataForm.account = supfnc.getHrefArg().account;
                this.getAccountData();
            },
            created(){},
            updated(){},
            beforeUpdate(){},
        });
    </script>
    {% endblock %}
</body>

</html>