from decouple import config

DEBUG = True
ALLOWED_HOSTS = ["127.0.0.1"]

# docker
# CELERY_BROKER_URL = 'amqp://root:y5416h7553@rabbitmq:5672/my_vhost'
# CELERY_RESULT_BACKEND = 'rpc://redis:6379'

DATABASES = {
    'default': {
        # 'ENGINE': 'django.db.backends.mysql', # 原先
        'ENGINE': 'django.contrib.gis.db.backends.mysql', # geojson
        'NAME': 'lbor_v3',
        'USER': '',
        'PASSWORD': '',
        'HOST': '127.0.0.1', # 虛擬機請改成 'mariadb'
        'PORT': '3306',
        'OPTIONS': {"charset": "utf8mb4"},
    },

    # docker 使用
    # 'default': {
    #     'ENGINE': 'django.contrib.gis.db.backends.mysql',
    #     'NAME': 'lbor_v3',
    #     'USER': config('MYSQL_USER'),
    #     'PASSWORD': config('MYSQL_PASSWORD'),
    #     'HOST': 'lbor_mariadb',
    #     'PORT': '3306',
    #     'OPTIONS': {"charset": "utf8mb4"},
    # },
}

# docker Redis
# CACHES = {
#     "default": {
#         "BACKEND": "django_redis.cache.RedisCache",
#         "LOCATION": "redis://lbor_redis:6379/1", #这里直接使用redis别名作为host ip地址
#         "OPTIONS": {
#             "CLIENT_CLASS": "django_redis.client.DefaultClient",
#             "PASSWORD": "tY07b2Jx&%", # 换成你自己密码
#         },
#     }
# }


# EMAIL_USE_TLS = True
# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
# EMAIL_HOST = 'smtp.gmail.com'
# EMAIL_HOST_USER = 'exanple@gmail.com.tw'
# EMAIL_HOST_PASSWORD = 'exanple@gmail'
# EMAIL_PORT = 587